@model Project_Model.Kullanici
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Delete";
    Layout = "_Layout";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Kullanici</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KullaniciRegisterID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KullaniciRegisterID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KullaniciAd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KullaniciAd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KullaniciSoyad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KullaniciSoyad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KullaniciMail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KullaniciMail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KullaniciSifre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KullaniciSifre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KullaniciYas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KullaniciYas)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="KullaniciID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
