@model IEnumerable<Project_Model.Kullanici>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.KullaniciRegisterID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KullaniciAd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KullaniciSoyad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KullaniciMail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KullaniciSifre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KullaniciYas)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.KullaniciRegisterID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KullaniciAd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KullaniciSoyad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KullaniciMail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KullaniciSifre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KullaniciYas)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.KullaniciID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.KullaniciID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.KullaniciID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
